<ion-content class="modal-content">

  <!-- HEADER -->
  <div class="header">
    <ion-button fill="clear" (click)="dismiss()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </div>

  <!-- IMAGEN -->
  <div class="image-wrapper">
    <img [src]="deal.thumb" />
    <div class="overlay"></div>
  </div>

  <!-- CONTENIDO -->
  <div class="content">

    <h2>{{ deal.title }}</h2>

    <div class="store-row">
      <img *ngIf="storeLogo" [src]="storeLogo" />
      <span>{{ storeName }}</span>
    </div>

    <div class="prices">
      <span class="sale">${{ deal.salePrice }}</span>
      <span class="normal">${{ deal.normalPrice }}</span>
      <span class="discount">-{{ savings }}</span>
    </div>

    <ion-button expand="block" color="success" (click)="openDeal()">
      Ver oferta
    </ion-button>

  </div>

</ion-content>